<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/Xtractor/autoload.php">
  <testsuites>
    <testsuite name="xtractor">
      <file>tests/src/Client.php</file>
      <file>tests/src/Client/Base.php</file>
      <file>tests/src/Utils/Arrays.php</file>
      <file>tests/src/Utils/Files.php</file>
      <file>tests/src/Utils/Url.php</file>
    </testsuite>
  </testsuites>
  <php>
    <const name="XTRACTOR_ACCESS_TOKEN" value="m1HHn/2Ph5H3SjIdkfEQI7szgo0Pv38T5CtlXREJwjk="/>
  </php>
</phpunit>
