<?php
/**
 * ContentApi
 * PHP version 5
 *
 * @category Class
 * @package  Organizeme\Xtractor
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2015 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Organizeme\Xtractor;

use \Organizeme\Xtractor\Configuration;
use \Organizeme\Xtractor\ApiClient;
use \Organizeme\Xtractor\ApiException;
use \Organizeme\Xtractor\ObjectSerializer;

/**
 * ContentApi Class Doc Comment
 *
 * @category Class
 * @package  Organizeme\Xtractor
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ContentApi
{

    /**
     * API Client
     * @var \Organizeme\Xtractor\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Organizeme\Xtractor\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://api.xtractor.io');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Organizeme\Xtractor\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Organizeme\Xtractor\ApiClient $apiClient set the API client
     * @return ContentApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * getContentSimilarity
     *
     * 
     *
     * @param \Organizeme\Xtractor\Models\Payload $payload Content to compare. (required)
     * @param string $accept_version The API version to accept, defaults to latest version from server. (optional)
     * @return \Organizeme\Xtractor\Models\InlineResponse200
     * @throws \Organizeme\Xtractor\ApiException on non-2xx response
     */
    public function getContentSimilarity($payload, $accept_version=null)
    {
        
        // verify the required parameter 'payload' is set
        if ($payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $payload when calling getContentSimilarity');
        }
  
        // parse inputs
        $resourcePath = "/content/similarity";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "POST";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        
        // header params
        if ($accept_version !== null) {
            $headerParams['Accept-Version'] = $this->apiClient->getSerializer()->toHeaderValue($accept_version);
        }
        
        
        // body params
        $_tempBody = null;
        if (isset($payload)) {
            $_tempBody = $payload;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } else if (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-Key');
        if (isset($apiKey)) {
            $headerParams['X-API-Key'] = $apiKey;
        }
        
        
        
        // make the API Call
        try
        {
            list($response, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Organizeme\Xtractor\Models\InlineResponse200'
            );
            
            if (!$response) {
                return null;
            }

            return $this->apiClient->getSerializer()->deserialize($response, '\Organizeme\Xtractor\Models\InlineResponse200', $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\InlineResponse200', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 400:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 401:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 403:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 429:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 500:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
        
        return null;
        
    }
    
}
