<?php
/**
 * SemanticsApi
 * PHP version 5
 *
 * @category Class
 * @package  Organizeme\Xtractor
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2015 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Organizeme\Xtractor;

use \Organizeme\Xtractor\Configuration;
use \Organizeme\Xtractor\ApiClient;
use \Organizeme\Xtractor\ApiException;
use \Organizeme\Xtractor\ObjectSerializer;

/**
 * SemanticsApi Class Doc Comment
 *
 * @category Class
 * @package  Organizeme\Xtractor
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class SemanticsApi
{

    /**
     * API Client
     * @var \Organizeme\Xtractor\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Organizeme\Xtractor\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://api.xtractor.io');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Organizeme\Xtractor\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Organizeme\Xtractor\ApiClient $apiClient set the API client
     * @return SemanticsApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    
    /**
     * getDocumentSemantics
     *
     * 
     *
     * @param \SplFileObject $file File to get semantics for. Supported input formats are PDF, PNG, TIFF, JPEG, JPEG 2000, GIF, BMP, PCX, DCX, JBIG2, XPS, DjVu and WDP. (required)
     * @param string $accept_version The API version to accept, defaults to latest version from server. (optional)
     * @param bool $coordinates Determines if coordinates and child information should be included in the results, defaults to `true`. (optional)
     * @param string $doctype Type of the document, use only if type is known. Will speed up processing and lead to better results. (optional)
     * @param string[] $extractors List of extractors to apply, defaults to all extractors. (optional)
     * @param string $feedback JSON object containing additional data for feedback collection, defaults to `false`. (optional)
     * @return \Organizeme\Xtractor\Models\SemanticsResult
     * @throws \Organizeme\Xtractor\ApiException on non-2xx response
     */
    public function getDocumentSemantics($file, $accept_version=null, $coordinates=null, $doctype=null, $extractors=null, $feedback=null)
    {
        
        // verify the required parameter 'file' is set
        if ($file === null) {
            throw new \InvalidArgumentException('Missing the required parameter $file when calling getDocumentSemantics');
        }
  
        // parse inputs
        $resourcePath = "/document/semantics";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "POST";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('multipart/form-data'));
  
        
        // header params
        if ($accept_version !== null) {
            $headerParams['Accept-Version'] = $this->apiClient->getSerializer()->toHeaderValue($accept_version);
        }
        
        // form params
        if ($coordinates !== null) {
            
            
            $formParams['coordinates'] = $this->apiClient->getSerializer()->toFormValue($coordinates);
            
        }// form params
        if ($doctype !== null) {
            
            
            $formParams['doctype'] = $this->apiClient->getSerializer()->toFormValue($doctype);
            
        }// form params
        if ($extractors !== null) {
            
            
            $formParams['extractors'] = $this->apiClient->getSerializer()->toFormValue($extractors);
            
        }// form params
        if ($feedback !== null) {
            
            
            $formParams['feedback'] = $this->apiClient->getSerializer()->toFormValue($feedback);
            
        }// form params
        if ($file !== null) {
            
            // PHP 5.5 introduced a CurlFile object that deprecates the old @filename syntax
            // See: https://wiki.php.net/rfc/curl-file-upload
            if (function_exists('curl_file_create')) {
                $formParams['file'] = curl_file_create($this->apiClient->getSerializer()->toFormValue($file));
            } else {
               $formParams['file'] = '@' . $this->apiClient->getSerializer()->toFormValue($file);
            }
            
            
        }
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } else if (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-Key');
        if (isset($apiKey)) {
            $headerParams['X-API-Key'] = $apiKey;
        }
        
        
        
        // make the API Call
        try
        {
            list($response, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Organizeme\Xtractor\Models\SemanticsResult'
            );
            
            if (!$response) {
                return null;
            }

            return $this->apiClient->getSerializer()->deserialize($response, '\Organizeme\Xtractor\Models\SemanticsResult', $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\SemanticsResult', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 400:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 401:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 403:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 429:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 500:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
        
        return null;
        
    }
    
    /**
     * setDocumentSemanticsFeedback
     *
     * 
     *
     * @param string $request_id The request ID to give feedback for. (required)
     * @param \Organizeme\Xtractor\Models\Payload1 $payload Feedback data. (required)
     * @param string $accept_version The API version to accept, defaults to latest version from server. (optional)
     * @return \Organizeme\Xtractor\Models\InlineResponse2001
     * @throws \Organizeme\Xtractor\ApiException on non-2xx response
     */
    public function setDocumentSemanticsFeedback($request_id, $payload, $accept_version=null)
    {
        
        // verify the required parameter 'request_id' is set
        if ($request_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $request_id when calling setDocumentSemanticsFeedback');
        }
        // verify the required parameter 'payload' is set
        if ($payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $payload when calling setDocumentSemanticsFeedback');
        }
  
        // parse inputs
        $resourcePath = "/document/semantics/feedback";
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        $method = "POST";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = ApiClient::selectHeaderAccept(array('application/json', 'application/xml'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = ApiClient::selectHeaderContentType(array('application/json'));
  
        // query params
        if ($request_id !== null) {
            $queryParams['request_id'] = $this->apiClient->getSerializer()->toQueryValue($request_id);
        }
        // header params
        if ($accept_version !== null) {
            $headerParams['Accept-Version'] = $this->apiClient->getSerializer()->toHeaderValue($accept_version);
        }
        
        
        // body params
        $_tempBody = null;
        if (isset($payload)) {
            $_tempBody = $payload;
        }
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } else if (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        $apiKey = $this->apiClient->getApiKeyWithPrefix('X-API-Key');
        if (isset($apiKey)) {
            $headerParams['X-API-Key'] = $apiKey;
        }
        
        
        
        // make the API Call
        try
        {
            list($response, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, $method,
                $queryParams, $httpBody,
                $headerParams, '\Organizeme\Xtractor\Models\InlineResponse2001'
            );
            
            if (!$response) {
                return null;
            }

            return $this->apiClient->getSerializer()->deserialize($response, '\Organizeme\Xtractor\Models\InlineResponse2001', $httpHeader);
            
        } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\InlineResponse2001', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 400:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 401:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 403:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 429:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            case 500:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Organizeme\Xtractor\Models\GeneralError', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
        
        return null;
        
    }
    
}
